// Global Custom Variables. What ever u want to use across the partialized files below

// light
$global_default_bg: #fff;
$global_muted_bg: #f7f8f8;

$global_text_color: #4c4f53;
$global_heading_color: #2f3235;

$theme_border_color: #e3e5e6;
$theme_border_accent_color: #2f3235;

// dark
$dark_style_bg_colour: #0b0b0c;
$dark_style_muted_bg_colour: #18191b;
$dark_style_darker_bg_colour: #050606;

$dark_style_link_colour: #d6dade;
$dark_style_link_hover_colour: #d6dade;

$dark_style_theme_border_color: #30363d;
$dark_style_theme_border_accent_color: #d6dade;

// fonts
$heading_font: 'Source Sans Pro', sans-serif;
$sub_heading_font: 'PT Sans', sans-serif;
$body_font: 'Lora', serif;

// import your custom sass styles. you can partialize it how u like
@import "assets/sass/partials/borders.scss";
@import "assets/sass/partials/general.scss";
@import "assets/sass/partials/header.scss";
@import "assets/sass/partials/loader.scss";
@import "assets/sass/partials/post.scss";
@import "assets/sass/partials/responsive.scss";

@import "assets/sass/partials/dark.scss";