// 1. Customizing variables from uikit. These will overwrite the UIKIT imports below. 
$global-color: #4c4f53;
$global-emphasis-color: #4c4f53;
$base-heading-color: #2f3235;
$global-link-color: #4c4f53;
$logo-color: #2f3235;
$global-muted-color: #4c4f53;

$text-bold-font-weight: 700; 
$base-heading-font-weight: 700;
$base-strong-font-weight: 700;

// 2. Import variables & mixins froim uikit. You can also use the default styling scss files, I have used the theme ones.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 4. Import main UIkit (theme)
@import "node_modules/uikit/src/scss/uikit-theme.scss";

// 5. Import your custom sass styles
@import "style.scss";