<div id="Top"></div>

<header class="uk-background-default" uk-sticky="top: 300; animation: uk-animation-slide-top;">
  <nav class="uk-navbar-container uk-navbar-transparent">
    <div class="uk-container uk-padding-small uk-padding-remove-horizontal">
      <div class="uk-navbar">
        
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo uk-text-bold" data-link="{{site.link}}" onclick="quickLoad(event);">RobMcCormack</a>
        </div>
        
        <div class="uk-navbar-right">
          
          <ul class="uk-navbar-nav big-nav">
            
            <div class="uk-navbar-item">
              <div id="" class="theme-first-menu theme-show-main-menu theme-active uk-animation-fade uk-animation-fast">
                <ul class="uk-navbar-nav big-nav">
                  <li ><a href="#">Active</a></li>
                  <li><a href="#">Parent</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </div>
            
            <div class="uk-navbar-item pull-right-15">
              <ul class="uk-navbar-nav big-nav">
                <li class="">
                  <a href="#" rel="nofollow" id="" class="theme-show-main-menu theme-main-menu-icon uk-position-relative" uk-toggle="target: .theme-show-main-menu; cls: theme-active">
                   <span></span>
                  </a>
                </li>
                <li class="">
                  <a class="" href="#"><i class="fas fa-search" style=""></i></a>
                  <div uk-dropdown="pos: bottom-right; mode: click;" class="theme-dropdown-search-container">
                    <form class="uk-search uk-search-default uk-width-1-1">
                      <span class="uk-search-icon-flip"><i class="fas fa-search" style=""></i></span>
                      <input class="uk-search-input" type="search" placeholder="Enter your search query...">
                    </form>
                  </div>
                </li>
              </ul>
            </div>
            
            <div class="uk-navbar-item dark-light-switch">

              <label class="uk-switch" for="LightDarkSwitch">
                <input type="checkbox" id="LightDarkSwitch">
                <div class="uk-switch-slider uk-switch-big"></div>
              </label>

            </div>
            
          </ul>

        </div>
      </div>
    </div>
  </nav>
</header>