// dark backgrounds
.dark-style .uk-background-default {
  background: $dark_style_muted_bg_colour;
}
// dark muted backgrounds
.dark-style,
.dark-style .uk-background-muted {
  background: $dark_style_bg_colour;
}
// borders
.dark-style .theme-border,
.dark-style .theme-border-top,
.dark-style .theme-border-right,
.dark-style .theme-border-bottom,
.dark-style .theme-border-left,
.dark-style .theme-divider::before {
  border-color: $dark_style_theme_border_color;
}
.dark-style .theme-divider::after {
  border-color: $dark_style_theme_border_accent_color;
}
// custom menu markup with transition animation
.dark-style .theme-main-menu-icon span,
.dark-style .theme-main-menu-icon span::before,
.dark-style .theme-main-menu-icon span::after {
  background: $dark_style_link_colour;
}
// search dropdown
.dark-style .theme-dropdown-search-container {
  background-color: $dark_style_darker_bg_colour;
  box-shadow: 0 14px 28px -4px rgba(0,0,0,0.65);
}
.dark-style .uk-search-input {
  border-bottom: 2px solid $dark_style_theme_border_color;
}
